process {
	cpus = { check_max( 1 * task.attempt, 'cpus' ) }
	memory = { check_max( 6.GB * task.attempt, 'memory' ) }
	time = { check_max( 4.h * task.attempt, 'time' ) }

	withLabel:process_low {
		cpus = { check_max( 2 * task.attempt, 'cpus' ) }
		memory = { check_max( 12.GB * task.attempt, 'memory' ) }
		time = { check_max( 8.h * task.attempt, 'time' ) }
	}

	withLabel:process_medium {
		cpus = { check_max( 6 * task.attempt, 'cpus' ) }
		memory = { check_max( 42.GB * task.attempt, 'memory' ) }
		time = { check_max( 24.h * task.attempt, 'time' ) }
	}
	
	withLabel:process_high {
		cpus = { check_max( 12 * task.attempt, 'cpus' ) }
		memory = { check_max( 84.GB * task.attempt, 'memory' ) }
		time = { check_max( 96.h * task.attempt, 'time' ) }
	}

	withLabel:filter {
		cpus = { check_max( 4 * task.attempt, 'cpus' ) }
		memory = { check_max( 6.GB * task.attempt, 'memory' ) }
		time = { check_max( 4.h * task.attempt, 'time' ) }
	}



	withName:CELLSNP_LITE {
		cpus = { check_max( 12 * task.attempt, 'cpus' ) }
	}

	withName:DEMUXALOT {
		cpus = { check_max( 12 * task.attempt, 'cpus' ) }
		memory = { check_max( 126.GB * task.attempt, 'memory' ) }
		time = { check_max( 8.h * task.attempt, 'time' ) }
	}

	withName:SCDBLFINDER {
		cpus = { check_max( 2 * task.attempt, 'cpus' ) }
	}

	withName:DOUBLETFINDER {
		memory = { check_max( 102.GB * task.attempt, 'memory' ) }
	}

	maxRetries = 2
	maxErrors = '-1'
	
	errorStrategy = 'retry'
}

params {
	demuxTools = "Demuxalot,Vireo"
    dblTools = "DoubletFinder,scDblFinder,scds"
	GTField = "GT"

	// Defaults only, expecting to be overwritten
	max_memory = 378.GB
	max_cpus = 36
	max_time = 96.h
}
